[Unit]
Description=Auto Start Main Pi Server
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/github/Main-Pi/
ExecStart=python3 main.py

[Install]
WantedBy=multi-user.target
