[Unit]
Description=Auto Start Main Pi Server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/Main-Pi/
ExecStart=python3 main.py

[Install]
WantedBy=multi-user.target
